@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

@font-face {
  font-family: 'Angelica';
  src: url('../assets/fonts/Angelica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZT Bros Oskon 90s';
  src: url('../assets/fonts/ZTBrosOskon90s-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Swirly Kids';
  src: url('../assets/fonts/SwirlyKids.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
